$headerHeight   : 88px;
$footerHeight   : 38px;
$mainHeight     : 795px;
$main-Min-Width : 1500px;

$mainBackGround : #48171a;
$headerBackGround : #910101;
$footerBackGround : #fe0000;

.icon{
	background : url(../images/ico_one.png) no-repeat 0 0;
	display : block;
	width : 100%;
	height:100%;
}
.similar-component{
	.similar-title{
		border:1px solid #c48a7e;
		.title-h{
			height: 3px;
			background:#ac4a1d;
		}
		.title-core{
			background:#9d5942;
			height: 30px;
		}
		.title-pic{
			float: left;
			margin-left: 9px;
			width: 26px;
			height: 100%;
		}
		.title-name{
			float: left;
			font-size: 16px;
			color: white;
			line-height: 30px;
			margin-left: 5px;
			font-weight: bold;
			text-overflow: ellipsis;
		}
	}
}


body{
	background : url(../images/bg.png) no-repeat 0 0;
	min-width : $main-Min-Width;
	
}
@media screen and (min-width: 1900px) {
    body {
    	background : url(../images/bg.png) no-repeat 0 0;
        background-size:100% 100%;  
    	-moz-background-size: 100% 100%;  
       -webkit-background-size: 100% 100%; 
    }
}
#header{
	width : 100%;
	height : $headerHeight;
	background : $headerBackGround ;
	position : relative;
}
$m-left-main-width : 288px;
$m-rigth-main-width : 594px;
#main{
	padding: 39px 0 8px 0;
	height : $mainHeight;
	.similar-bg{
		border:1px solid #bc6549;
	}
	.m-left{
		float  : left;
		height : 100%;
		margin:0 16px 0 19px;
		border:1px solid #7c0f01;
		.advance{
			width:$m-left-main-width;
			.similar-title{
				.definite-pic{
					background-position:-120px -193px;
				}
			}
			.similar-content{
					height: 216px;
			}
		}
		.affiche{
			width:$m-left-main-width;
			.similar-title{
				.definite-pic{
					background-position:-120px -50px;
				}
			}
			.similar-content{
					height: 264px;
			}
		}
		.market{
			width:$m-left-main-width;
			.similar-title{
				.definite-pic{
					background-position:-118px -4px;
				}
			}
			.similar-content{
					height: 207px;
			}
		}
	}
	.m-right{
		float : right;
		height : 100%;
		border:1px solid #7c0f01;
		.exchange{
			width:$m-rigth-main-width;
			.similar-title{
				.definite-pic{
					background-position:-167px -4px;
				}
			}
			.on-line{
				float: right;
				color: #ffffff;
				font-size: 12px;
				line-height: 30px;
				margin-right: 8px;
			}
			.similar-content{
					height: 756px;
			}
		}
		.m-chatting{
			height: 513px;
			overflow:hidden;
			position:relative;
		}
		.m-chat-wrap{
			height: 240px;
			background:#dddddd;
			position:relative;
		}
		.m-chat-btn{
			background: #ff6e00;
			padding:0 10px;
			font-size: 16px;
			width: 34px;
			line-height: 24px;
			text-align: center;
			color: #ffffff;
			position:absolute;
			right: 10px;
			bottom: 13px;
			cursor: pointer;
		}
		.m-scroll-wrap{
			width: 100%;
			li{
				padding:15px 48px 15px 15px;
			}
			.s-head{
				width: 43px;
				height: 60px;
				float: left;
				i{
					background-position:0 -61px;
				}
			}
			.s-core{
				float: left;
				width: 480px;
			}
			.s-date{
				height: 19px;
				font-size: 16px;
				margin-left: 16px;
				.peo{
						font-weight: bold;
						color: #fff757;
				}
				.date{
					color: #ffffff;
					font-weight: normal;
					margin-left: 5px;
				}
			}
			.s-content{
				margin-top: 8px;
				margin-left: 16px;
				background:#fff8f7;
				border-radius:4px;
				line-height: 33px;
				padding:0 10px;
			}
			.system{
				span{
					color: #c78a09;
				}
			}

		}
		.m-scroll-btn{
			height: 100%;
			width: 6px;
			position:absolute;
			right: 0;
			top: 0;
			span{
				    width: 100%;
				    background: #f7da04;
				    display: inline-block;
				    position: absolute;
				    right: 0;
				    top: 0;
				    border-radius: 19px;
			}
		}
	}
	.m-content{
	    width : 100%;
		.m-core{
			margin:  0 614px 0 325px;
			border:1px solid #7c0f01;
			height : $mainHeight;
			.video{
				.similar-title{
					.definite-pic{
						background-position:-167px -4px;
					}
				}
				.similar-content{
						height: 516px;
				}
			}
			.User-voice{
				.similar-title{
					.definite-pic{
						background-position:-117px -146px;
					}
				}
				.similar-content{
						height: 206px;
				}
			}
		}
	}
}
#footer{
	background : $footerBackGround;
	color : #ffffff;
	text-align : center;
	line-height : $footerHeight;
	font-size : 12.5px;
}

.header{
	.wrap{
		border-top : 5px solid #82030a;
		border-bottom : 2px solid #82030a;
		height : 78px;
	}
	.h-right:hover .aboutUS{
		display: block;
	}
	.h-right{
		float : right;
		margin-right : 92px;
		height : 100%;
		width : 55px;
		position : relative;
		.h-r-icon{
			background-position : 8px 7px;
			height : 50px;
		}
		.h-btn-link{
			display : block;
			color : #ffffff;
			font-size : 12.5px;
			text-align : center;
		}
		.aboutUS{
			position : absolute;
			top:0px;
			left : 54px;
			background: rgba(0,0,0,0.7);
   			padding: 0 5px;
   			display: none;
   			width: 100%;
   			a{
   				color: #a08037;
				display: block;
			    width: 100%;
			    line-height: 40px;
			    text-align: center;
			    border-bottom: 1px solid #8e8e96;
			    font-size: 12px;
   			}
		}
		.aboutUS a:hover{
			color: red;
			border-color: #a08037;
		}
	}
	.h-left{
		margin-left: 80px;
		height: 100%;
		width: 52%;
		float: left;
		li{
			height: 100%;
			div{
				float: left;
			}
		}
		.portrait{
			width: 48px;
			height: 100%;
			img{
				width: 100%;
			}
		}
		.h-link{
		    padding-top:10px;
			span{
				display: block;
			}
			.name{
				color: #ffffff;
				font-size: 18px;
				font-weight: bold;
				line-height: 25px;
				text-indent: 34px;
			}
			.post{
				color: #ffffff;
				font-size: 16px;
				line-height: 25px;
				text-indent: 34px;
			}
		}
		.h-contro{
			width: 25px;
			height: 38px;
			float: right;
			padding: 18px 0;
			span{
				background-position:-6px -132px;
				cursor: pointer;
			}
		}
		.h-content-link{
			float: left;
			padding-left:71px;
			height: 100%;
			width: 50%;
			// p{
			// 	color: white;
			// 	line-height: 26px;
			// 	font-size: 13px;
			// 	width: 100%;
			// 	height: 100%;
			// 	overflow : hidden;
			// 	text-overflow: ellipsis;
			// 	display: -webkit-box;
			// 	-webkit-line-clamp: 3;
			// 	-webkit-box-orient: vertical;
			// }
			p {
				color: white;
			    position:relative;
			    line-height:26px;
			    /* 3 times the line-height to show 3 lines */
			    height:100%;
			    overflow:hidden;
			    font-size: 13px;
			}
			p::after {
			    content:"...";
			    font-weight:bold;
			    position:absolute;
			    bottom:0;
			    right:3px;
			    padding:0 0px 1px 16px;
			    background:$headerBackGround;
			}
		}
	}
	.h-notice{
		position:absolute;
		right: 53px;
		bottom:-40px;
		i{
			width: 28px;
			height: 40px;
			float: left;
			span{
				background-position:-122px -44px;
			}
		}
		.h-notice-title{
			float: left;
			font-size: 16px;
			line-height: 40px;
			color: #ffffff;
		}
		.h-link-wrap{
			float: left;
			font-size: 16px;
			line-height: 40px;
			color: #ffffff;
			width: 600px;
			overflow:hidden;
			height: 40px;
			position:relative;
			label{
				position:absolute;
				top: 0;
				left: 0;
				display: block;
				height: 40px;
			}
		}
	}
}